.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

_command_line_activity_solution.qmd
_command_line_activity_solution.html
_command_line_activity_solution_files/

/.quarto/

_complementary_material/
_syllabus/
_syllabus_docx/
_adm_stuff/
_test_ignore/
_00_py4ps_install_guide/
_handouts/
# figs/
#images/
_homework/
_lecture_notes/
_quizzes/
_supplemental_material/
_grades/
_grade/
grades/
grade/

